<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>title</label>
            <input type="text" class="form-control" id="titleid">
        </div>
        <div class="form-group col-md-6">
            <label>Image Url</label>
            <input type="text" class="form-control" id="Image">
        </div>
    </div>
    <div class="form-row">
        <label>Description</label>
        <textarea class="form-control" id="Description"></textarea>
    </div>
    <div class="form-row">
        <label>Price</label>
        <input type="number" class="form-control" id="Price">
    </div>

    <div class="form-group col-md-6">
        <input type="checkbox" name="IsAvailable" value="IsAvailable"> IsAvailable<br>
        <!-- <input type="checkbox" name="NotAvailable" value="NotAvailable">NotAvailable <br> -->
    </div>

    <button type="submit" class="btn btn-primary">add Item</button>
</form>